<section class="min-h-screen bg-zinc-900 flex flex-col items-center justify-center p-4">
    <div class="h-10 mb-8 flex space-x-2">
        <img src="assets/img/logo.png" alt="Logo" class="h-full">
    </div>

    <h1 class="text-4xl sm:text-5xl font-extrabold text-zinc-400 text-center mb-4 leading-tight">
        ¡Te damos la bienvenida a <br> <span class="text-5xl sm:text-6xl">Banco Azteca!</span>
    </h1>

    <p class="text-zinc-300 text-lg sm:text-xl text-center max-w-sm mb-12">
        Usa tu préstamo como dinero en efectivo o compra en donde quieras.
    </p>

    <div class="w-full max-w-sm px-4">

        <label for="nombre-input" class="block text-sm text-gray-200 mb-2">
            ¿Cómo prefieres que te llamemos?
        </label>

        <div class="relative">
            <input
                type="text"
                id="nombre-input"
                placeholder="Escribe tu nombre"
                maxlength="15"
                class="w-full bg-transparent border-b border-gray-200 text-white text-lg placeholder-gray-200 pb-2 focus:outline-none focus:border-white transition duration-300"
                oninput="updateCharCount(this)"
            >

            <div id="char-count" class="absolute right-0 bottom-0 text-xs text-gray-200 -mb-5">
                0/15 caracteres
            </div>
        </div>
        <button
            class="mt-8 w-full bg-gradient-to-r bg-zinc-400 text-white font-semibold py-3 rounded-lg shadow-lg hover:from-teal-600 hover:to-green-800 transition duration-300"
        >
            Comenzar
        </button>
    </div>
</section>
